@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "Super";
  src: url("/src/Assets/fonts/super_font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme inline {
  --font-super: Super, sans-serif;

  --color-primary: var(--primary);

  --color-secondary: var(--secondary);

  --color-cardbg: var(--cardbg);
}

@layer base {
  :root {
    --primary: red;
  }

  .light {
    --primary: black;
    --secondary: black;
    --cardbg: #ffb300;
  }

  .dark {
    --primary: #f5e6c4;
    --secondary: #ffb300;
    --cardbg: black;
  }
}
