@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-primary: var(--primary);
}

@layer base {
  :root {
    --primary: red;
  }

  .light {
    --primary: black;
  }

  .dark {
    --primary: #f5e6c4;
  }
}
